body {
		margin: 0;
		padding: 0;
		font-family: "Roboto", sans-serif;
		}
	header {
		position: fixed;
		background: #000066;
		padding: 20px;
		width: 100%;
		height: 30px;
		}
	.left_area h1 {
		color: #fff;
		margin:0;
		font-size: 22px;
		font-weight: 900;
		text-align: center;
		}
	.logout_btn {
		padding: 5px;
		background: #198303;
		text-decoration: none;
		float: right;
		margin-top: -30px;
		border-radius: 2px;
		margin-right: 40px;
		font-size: 15px;
		font-weight: 600;
		color: #fff;
		transition: 0.5s;
		transition-property: background;
		}
	.logout_btn:hover {
		background: #b3ccff;
		}
	.sidebar {
		background: #006699;
		margin-top: 70px;
		padding-top: 30px;
		position: fixed;
		left: 0;
		width: 250px;
		height: 100%;
		transition: 0.5s;
		transition-property: left;
		}
	.sidebar .my_profile {
		height: 120px;
		width: 110px;
		border-radius: 100px;
		margin-bottom: 10px;
		}
	.sidebar h2 {
		color: #ccc;
		margin-top: 0;
		margin-bottom: 20px;
		}
	.sidebar a{
		color: #fff;
		display: block;
		line-height: 60px;
		width: 100%;
		padding-left: 40px;
		box-sizing: border-box;
		text-decoration: none;
		transition: 0.5s;
		transition-property: background;
		}
	.sidebar a:hover {
		background: #ff4d4d;
		}
	.sidebar i {
		padding-right: 10px;
		}
	label #sidebar_btn{ 
		z-index: 1;
		color: #fff;
		cursor: pointer;
		position: fixed;
		font-size: 20px;
		left: 20px;
		margin: 5px 0;
		transition: 0.5s;
		transition-property: color;
		}
	label #sidebar_btn:hover {
		color: #99b3ff;
		}
	#check:checked ~ .sidebar {
		left: -190px;
		}
	#check:checked ~ .sidebar a span{
		display:none;
		}
	#check:checked ~ .sidebar a {
		font-size:20px;
		width: 80px;
		margin-left: 170x;
		}
	.wallpaper {
		margin-left: 250px;
		background: url(luxury.jpg) no-repeat;
		background-position: center;
		background-size: cover;
		height: 100vh;
		transition: 0.5s;
	}
	#check:checked ~ .wallpaper{
		margin-left: 60px;
	}
	#check{
		display: none;
	}